<nav class="navbar navbar-dark transparent justify-content-between" style="background-color:black;" style="font-size: large;">
    <a class="navbar-brand" style="color: white; font-size: large; font-family: 'Times New Roman', Times, serif; text-align: left;" href="{% url 'gallery' %}">Galleryapp </a>
    <form class="form-inline my-1" action="/search"  role="search">
      <input class="form-control mr-sm-2" type="search" placeholder="search category" name="imagesearch" aria-label="Search">
      <button type="submit" class="btn btn-dark">submit</button>
    </form>
  </nav>